* {
    margin: 0 auto;
    padding: 1em;
    box-sizing: border-box;
}
/*Este es mi body*/
body {
    background-color: #333;
    color: #FFF;
    font-family: sans-serif;
    width: 100%;
    max-width: 80ch;
    line-height: 1.5;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}