<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>
<body>
    <h1>BrainyDaily</h1>
    <h2>¿Quienes Somos?</h2>
    <a href="/">Inicio</a>
    <a href="/about/">Sobre Nosotros</a>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem odit
        ex esse dolor odio veniam dolorum officia fuga asperiores tempora, nihil
        libero dolore, maiores, debitis sed neque ipsum. Quo vero, nobis quasi
        dolores aut consequuntur eos ratione modi non ullam!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, iure odit!
        Id nesciunt tenetur saepe!
    </p>
</body>
