---
import '../styles/global.css';
---

<html lang="en">
    <head>
        <script
            is:inline
            src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"
        ></script>
        <!-- Fuentes -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
            rel="stylesheet"
        />
        <!-- Icons -->
        <script
            src="https://kit.fontawesome.com/454910e8ef.js"
            crossorigin="anonymous"></script>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content="{Astro.generator}" />
        <title>Brainy Daily 🧠</title>
    </head>
    <body class="bg-zinc-800 text-[#adadad]">
        <div
            id="container"
            class="mx-auto my-4 w-100 md:w-[700px] min-h-screen"
        >
            <nav class="border-gray-200 px-2.5">
                <div
                    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
                >
                    <a
                        href="https://brainydaily.netlify.app/"
                        class="flex items-center"
                    >
                        <img
                            src="/logo1.png"
                            class="h-9 mr-3"
                            alt="BrainyDaily Logo"
                        />
                        <span
                            class="self-center text-2xl font-semibold whitespace-nowrap text-white"
                            >BrainyDaily</span
                        >
                    </a>
                    <button
                        data-collapse-toggle="navbar-default"
                        type="button"
                        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-emerald-400 focus:outline-none dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                        aria-controls="navbar-default"
                        aria-expanded="false"
                    >
                        <span class="sr-only">Open main menu</span>
                        <svg
                            class="w-5 h-5"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 17 14"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M1 1h15M1 7h15M1 13h15"></path>
                        </svg>
                    </button>
                    <div
                        class="hidden w-full md:block md:w-auto"
                        id="navbar-default"
                    >
                        <ul
                            class="font-medium flex flex-col p-4 md:p-0 mt-4 md:flex-row md:space-x-8 md:mt-0 md:border-0"
                        >
                            <li>
                                <a
                                    href="#"
                                    class="block py-2 pl-3 pr-4 border border-emerald-400 md:border-0 text-white rounded-xl mb-1 md:bg-transparent md:p-0 dark:text-white md:text-emerald-400"
                                    aria-current="page">Inicio</a
                                >
                            </li>
                            <li>
                                <a
                                    href="#"
                                    class="block py-2 pl-3 pr-4 text-white border border-zinc-200 md:border-0 rounded-xl mb-1 md:bg-transparent md:p-0 dark:text-white md:text-white hover:text-emerald-200 ease-in duration-200"
                                    aria-current="page">Artículos</a
                                >
                            </li>
                            <li>
                                <a
                                    href="#"
                                    class="block py-2 pl-3 pr-4 text-white border border-zinc-200 md:border-0 rounded-xl mb-1 md:bg-transparent md:p-0 dark:text-white md:text-white hover:text-emerald-200 ease-in duration-200"
                                    aria-current="page">Sobre Nosotros</a
                                >
                            </li>
                            <li>
                                <a
                                    href="#"
                                    class="block py-2 pl-3 pr-4 text-white border border-zinc-200 md:border-0 rounded-xl mb-1 md:bg-transparent md:p-0 dark:text-white md:text-white hover:text-emerald-200 ease-in duration-200"
                                    aria-current="page">Contacto</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <section class="mt-5 px-10 pt-5">
                <h1
                    class="mb-4 md:mb-0 text-lg font-bold text-white"
                    style="font-family: 'Roboto Mono';"
                >
                    Brainy Daily
                </h1>
                <div
                    class="flex gap-y-10 flex-col md:gap-y-0 md:flex-row md:items-center"
                >
                    <p
                        class="md:mr-12 md:text-xs"
                        style="font-family: 'Roboto Mono';"
                    >
                        ¡Bienvenidos a Brainy Daily, tu fuente diaria de
                        conocimiento científico! Explora nuestro fascinante
                        mundo de descubrimientos y curiosidades, donde
                        desentrañamos los misterios del universo, desde la
                        astronomía hasta la biología. ¡Acompáñanos en este viaje
                        hacia el saber y despierta tu mente cada día!
                    </p>
                    <figure class="block rounded-lg mx-auto">
                        <img
                            class="rounded-lg h-[250px] md:h-auto md:min-w-[250px]"
                            src="/img/banner.png"
                            alt="Banner of Brainy Daily"
                        />
                    </figure>
                </div>
            </section>
        </div>
    </body>
</html>
