---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>BrainyDaily</title>
	</head>
	<body>
		<h1>BrainyDaily</h1>
		<h2>¡Blog de divulgaciones en español!</h2>
		<a href="/">Inicio</a>
		<a href="/about/">Sobre Nosotros</a>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos totam
			architecto officiis, eveniet nihil earum neque molestias qui aperiam
			est. Aut cumque inventore in dolorem dolores. Natus possimus maiores
			nemo.
		</p>

		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet,
			adipisci.
		</p>
	</body>
</html>
